/* fond de page */
body {
  background-image: none;
  background-size: 100%;
  background-color: #96172E;
  background-repeat: no-repeat;
  color: white;
  height: 100vh;
  margin: 0;
  /* pour éviter l'ascenseur */
  border: 1px solid transparent;
  box-sizing: border-box;
}

/* bandeau de titre */
h1 {
  color: white;
  border: none;
  box-shadow: none;
  background-color: rgba(255,255,255,0.3);
  border-top: 3px solid rgba(255,255,255,0.6);
  border-bottom: 3px solid rgba(255,255,255,0.6);
  margin-top: 1.33em;
  text-shadow: 3px 3px 3px black;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  margin-bottom: 0.2em;
}


/* contenu de la page */
body > * {   padding-left: 10px; }

/* polices de caractères */
body { font-family: Trebuchet MS, sans-serif; }

/* positionnement des champs */
label { display: block; }
label span { display: inline-block; width: 5em; height: 1.5em; }

a.delete:hover {
  color: red;
}


body {
  font-family: Roboto, sans-serif;
}
main {
  margin: 20px;
  padding: 10px;
  border: 1px solid #666;
  border-radius: 5px;
  box-shadow: 3px 3px 3px #444;
  background-color: #ACACAC;
  height: 90vh;
}
h1 {
  margin-top: 0;
  color: maroon;
  border-radius: 5px;
  font-family: Haettenschweiler;
  text-shadow: 1px 1px white;
}
label {
  display: block;
  padding-bottom: 0.5em;
  padding-top: 0.5em;
}
label span {
  display: inline-block;
  width : 5em;
}

#map {
  height: 95%;
  margin-left: 20vw;
  margin-right: 20vw;
  border-radius: 5px;
  margin-bottom:1.33em;
}

div#col_left {
  height: 100%;;
	float: left;
  border-radius: 5px;
	width: 17vw;
}

div#col_right {
	float: right;
	width: 15vw;
}

.description{
  background: white;
  border-radius: 5px;
  color: black;
  padding-left: 5px;
  padding-right: 5px;
}

p {
  color: black;
}
